body {
    padding-top: 20px;
    font-family: 'Gentium Book Plus', serif;
}

h1 {
    text-align: center;
    color: #002b51;
    font-size: 3em;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 10px 0 30px 0;
    font-size: 18px;
    font-weight: 400;
    color: #32628B;
}

.main-car {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 6px;
}

p {
    line-height: 1.5;
    font-size: 14px;
    margin: 20px 0 10px;
}

button {
    display: block;
    margin: 30px auto;
    background-color: #0c3c66;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    transition: all 150ms ease-in-out;
}

button:hover,
button:focus {
    background-color: #90b1cf;
    color: #0c3c66;
    opacity: 0.8;
    cursor: pointer;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 60px;
    background: linear-gradient(#f5faff, #aacfff);
    border-radius: 10px;
    position: relative;
}

.main {
    border-bottom: 1px solid #5f87aa;
    line-height: 2.0;
}

.learn-more {
    font-size: 12px;
    color: #5f87aa;
    text-decoration: none;
}

.learn-more:hover,
.learn-more:focus {
    text-decoration: underline;
    color: #0c3c66;
}

.footer {
    padding-top: 80px;
    text-align: center;
    color: #5f87aa;
    font-size: 12px;
}

.footer a {
    text-decoration: none;
    color: #5f87aa;
}

.footer a:hover,
.footer a:focus {
    color: #0c3c66;
}

#car {
    position: absolute;
}